    body {
        background-color: #c0aad6;
        color: #3b0472;
        font-family: Arial, sans-serif;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    div{
        background-color: #f1f1f1;
        width: 450px;
        border-radius: 15px;
        padding: 20px;
    }
    input{
        border-radius: 2px;
        border: #f1f1f1;
    }
    button{
        border-radius: 8px;
        border-color: #c0aad6;
        font-size: large;
        background-color: #f1f1f1;
        color: #3b0472;
    }
    #reset-button{
        border-radius: 8px;
        border-color: #c0aad6;
        font-size: large;
        background-color: #f1f1f1;
        color: #3b0472;
    }
    button:hover, #reset-button:hover{
        background-color: #3b0472;
        color: #f1f1f1;
        cursor: pointer;
}